---
layout: default
---

<div class="home">
  <div class="intro">
    <img src="/assets/images/nature.jpg" alt="Your Image" style="width:200px;height:200px;">
    <h1>Welcome to My Personal Website</h1>
    <p>Hi! I'm Luke Schautz, a junior at Michigan State University studying computer engineering. This is my personal website where I share information about 
       my education, experience, skills, and more. Feel free to explore and learn more about me.</p>
  </div>

  <!-- Existing content, such as recent posts, can remain here -->
  <div class="recent-posts">
    <!-- Recent posts section -->
    {{ content }}
  </div>
</div>
